<div class="bg-dark-gray">
<div class="container">
  <div class="row flex-lg-row-reverse align-items-center">
    <div class="col-10 col-sm-8 col-lg-6">
    <%= video_tag "goodies-hero.mp4", autoplay: :autoplay, loop: :loop, muted: :muted %>
    </div>
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold lh-1 mb-3">Goodies <br>
      Exchange <br>
      Rent & Share</h1>
      <p class="lead">Goodies is a new way to share things. Get your Goodies today!</p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Browse Goodies</button>
      </div>
    </div>
  </div>
  </div>
</div>
</div>
